
h1{
    color: #fabf39;
    text-align: center;
    font-size: xxx-large;
}
h3{
    text-align: center;
}
li{
    float: left;
    list-style-type: none;
    padding: 10px;
    margin: auto;
    text-align: center;
}
body{
    background-color: #726042;

}
li a{
      padding: 55px;
      display: block;
      text-decoration: none;
    color: #351967;
}
li a:hover {
    color: #fabf39;
}
p{
    font-family: "Century Schoolbook L";
    color: #ff7200;
    width: 60%;
    text-align: left;
}
